################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/CuatrovientosRSEApp/CuatrovientosRSE/.vs/CuatrovientosRSE/FileContentIndex/adf9c1c3-034d-4fdf-8411-1a239b308e0b.vsidx
/CuatrovientosRSEApp/CuatrovientosRSE/.vs/CuatrovientosRSE/FileContentIndex/f93a28b9-c42c-446c-9b9c-57409236e811.vsidx
/CuatrovientosRSEApp/CuatrovientosRSE/.vs/CuatrovientosRSE/FileContentIndex/753abc64-3bf7-4bb8-a9d8-5a40bb18ddb9.vsidx
/CuatrovientosRSEApp/CuatrovientosRSE/.vs
